___
# Ciência dos Dados - PROJETO 1

## COLOQUE AQUI SEU NOME
___

## TÍTULO DO SEU PROJETO

___
## Introdução

Descreva aqui o que pretende analisar!

Capriche no português!! 
Se quiser pode utilizar pesquisas semelhantes publicadas em sites confiáveis!!

Vamos analizar como as pessoas que tem acesso a internet em casa e as que não tem usam a internet

___
## Análise e Resultados

In [2]:
%matplotlib inline
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import os

dados = pd.read_csv('DOM2015.csv',sep=',')

In [7]:
print('Como que as pessoas utilizam a internet?')
print(os.getcwd())

Esperamos trabalhar no diretório
C:\Users\marco\Desktop\Insper\Ciencia dos Dados\Projeto1

In [ ]:
#Se usar o arquivo descompactado
#pd.read_csv('DOM2015.csv',sep=',')

#Se usar o arquivo compactado como está no dropbox púbico
#pd.read_csv('DOM2015csv.zip', compression='zip', header=0, sep=',', quotechar='"')

In [19]:
df = {}
df['ACESSO'] = dados['V02322']
df['MICRO'] = dados['V02323']
df['CELULAR'] = dados['V02324']
df['TABLET'] = dados['V02325']
df['TV']=dados['V02326']
df['OUTROS'] = dados['V02327']
df['RENDA'] = dados['V4622']
df = pd.DataFrame.from_dict(df)
df.head()

   ACESSO  CELULAR  MICRO  OUTROS  RENDA  TABLET   TV
0     4.0      NaN    NaN     NaN    4.0     NaN  NaN
1     NaN      NaN    NaN     NaN    NaN     NaN  NaN
2     2.0      4.0    2.0     4.0    4.0     4.0  4.0
3     2.0      2.0    2.0     4.0    4.0     4.0  4.0
4     4.0      NaN    NaN     NaN    6.0     NaN  NaN

In [20]:
df.ACESSO = df.ACESSO.astype('category')
df.MICRO = df.MICRO.astype('category')
df.CELULAR = df.CELULAR.astype('category')
df.TABLET = df.TABLET.astype('category')
df.TV = df.TV.astype('category')
df.OUTROS = df.OUTROS.astype('category')
#df.RENDA = df.OUTROS.astype('category')

df.ACESSO.cat.categories = ('Sim', 'Não')
df.MICRO.cat.categories = ('Sim', 'Não')
df.CELULAR.cat.categories = ('Sim', 'Não')
df.TABLET.cat.categories = ('Sim', 'Não')
df.TV.cat.categories = ('Sim', 'Não')
df.OUTROS.cat.categories = ('Sim', 'Não')
#df.RENDA.cat.categories = ('0', '1/4','1/2','1','2','3','5','5+')
df.head()

  ACESSO CELULAR MICRO OUTROS  RENDA TABLET   TV
0    Não     NaN   NaN    NaN    4.0    NaN  NaN
1    NaN     NaN   NaN    NaN    NaN    NaN  NaN
2    Sim     Não   Sim    Não    4.0    Não  Não
3    Sim     Sim   Sim    Não    4.0    Não  Não
4    Não     NaN   NaN    NaN    6.0    NaN  NaN

___
## Conclusão

Descreva aqui suas conclusões!